
/* Allow table cell content to wrap */
table.docutils td,
table.docutils th
{
    white-space: normal !important;
    word-wrap: break-word;
    word-break: break-word;
}

.docutils table {
    table-layout: fixed;
    width: 100%;
}

