[Unit]
Description=Start/stop cluster service
After=network.target syslog.target pf_ring.service
Requires=pf_ring.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/etc/init.d/cluster start
ExecStop=/etc/init.d/cluster stop
Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=multi-user.target

